/* General */
* {
    box-sizing: border-box;
} 
body {
        font-family: Arial, 'Helvetica Neue', Helvetica,  sans-serif;
        font-size: 16px;
        line-height: 32px;
        color: #777777;    
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;
}
        
h1, h2, h3 { color: #4aaaa5;
       font-family: Georgia, Times, "Times New Roman", serif;
       font-weight: 700;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
}

h2, h3 { font-size: 20px; }

figcaption { font-size: 15px; font-weight: 700; color: #aaaaaa; line-height: 2px; padding: 0px; margin: 1px; }

